<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBLmpo7tk3TUu3YsMc9pVAaCu75lpD9eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349332183949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yanDemoFcm</string>
	<key>PROJECT_ID</key>
	<string>yandemofcm</string>
	<key>STORAGE_BUCKET</key>
	<string>yandemofcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349332183949:ios:2f9be7ebc8905670f13bc4</string>
</dict>
</plist>